<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%= title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <!-- <ul class="nav navbar-nav">
        <%for(i=0;i<navbar.length;i++){%>
        <li>
          <a href="<%=navbar[i].link%>"><%= navbar[i].title%></a>
        </li>
        <%}%> -->
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <%for(i=0;i<login.length;i++){%>
          <li>
            <a href="<%=login[i].link%>"><%= login[i].title%></a>
          </li>
          <%}%>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
    </div> 
  </div><!-- /cont -->
  
  <div class="container">
    <div class="row">
      <div class="col-md-12"></div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
        <!-- Login Form start -->
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
              <br>
              <br>
              <label for=""><%= value%></label> <br>
              <h2 class="active"> Sign Up </h2>
              <!-- Login Form -->
              <form action="/signup" method="POST" onsubmit="return check();">
                <input type="text" id="name" class="fadeIn first" name="name" placeholder="Enter Your Name" required>
                <input type="email" id="email" class="fadeIn second" name="email" placeholder="Enter Your Email" required>
                <input type="password" id="password" class="fadeIn third" name="password" placeholder="Enter Your Password" required>
                <input type="tel" id="mobile" class="fadeIn fourth" name="mobile" placeholder="Enter 10 digit Mobile Number" required><br>                
                <input type="submit" class="fadeIn fourth" value="Sign Up">
                
              </form>
          
            </div>
          </div>
        <!-- Login Form end -->
          </div>
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>

<div class="container" id="footer">
  <div class="row">
    <div class="col col-sm-12">
      
      <h1>Follow Us</h1>
      <div class="btn-group">
       <a class="btn btn-twitter btn-lg" href="#"><i class="icon-twitter icon-large"></i> Twitter</a>
	   <a class="btn btn-facebook btn-lg" href="#"><i class="icon-facebook icon-large"></i> Facebook</a>
	   <a class="btn btn-google-plus btn-lg" href="#"><i class="icon-google-plus icon-large"></i> Google+</a>
      </div>
      
    </div>
  </div>
</div>

<hr>

<hr>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-inline">
          <li><i class="icon-facebook icon-2x"></i></li>
          <li><i class="icon-twitter icon-2x"></i></li>
          <li><i class="icon-google-plus icon-2x"></i></li>
          <li><i class="icon-pinterest icon-2x"></i></li>
        </ul>
        
      </div>
      <div class="col-sm-6">
          <p class="pull-right">Built with <i class="icon-heart-empty"></i> at <a href="http://www.bootply.com">Bootply</a></p>      
      </div>
    </div>
  </div>
</footer>
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>

<script>
  var pass = document.getElementById('password');
  var mob = document.getElementById('mobile');
  var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,100}$/;
  var num = /^[0-9]{10,10}$/;
  var flag = 0;
  var redirect = 3;
  var msg1 = "Password should contains minimum 8 characters and a combination of lowercase,uppercase and special characters!";
  var msg2 = "Telephone Must only contain numbers and must be of 10 digits";
  function check(){
    if(!mob.value.match(num)){
    flag+=1;
    redirect+=1 
    }
    if(!pass.value.match(decimal)){
    flag-=1;
    redirect+=1
    }
    if(flag == 1){
    alert(msg2);
    flag = 0;
    return false;
    }
    if(flag==-1){
    alert(msg1);
    flag = 0;
    return false;
    }
    if(flag==0 && redirect!=3){
    alert(msg1+"  "+msg2);
    redirect = 3;
    return false;
    }
    if(redirect == 3)
      return true;
  }

</script>